# Week 5 Demo

## Data Import

In [8]:
import pandas as pd

In [9]:
# READ THE CSV FILE
df = pd.read_csv("data.csv")

# PRINT THE TOP FIVE DATA
df.head()

,Date,Month,Year,Customer ID,Customer Age,Age Group,Customer Gender,Country,State,Product Category,Sub Category,Product,Frame Size,Order Quantity,Unit Cost,Unit Price,Cost,Revenue,Profit
0,11/26/13,November,2013.0,11019.0,NaN,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,8.0,45.0,120.0,360.0,950,590.0
1,11/26/15,November,2015.0,11019.0,NaN,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,8.0,45.0,120.0,360.0,950,590.0
2,3/23/14,March,2014.0,11039.0,49.0,Adults (35-64),M,NaN,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,23.0,45.0,120.0,1035.0,2401,1366.0
3,3/23/16,March,2016.0,11039.0,49.0,Adults (35-64),M,NaN,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,20.0,45.0,120.0,900.0,2088,1188.0
4,5/15/14,May,2014.0,11046.0,47.0,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,4.0,45.0,120.0,180.0,418,238.0

In [92]:
# DISPLAY THE NUMBER OF (ROWS, COLUMNS)
df.shape

(113037, 19)

## Missing Data Handling

In [42]:
# DROP NULL-VALUED ROWS FROM THE DATAFRAME
dropped_df = df.dropna()
dropped_df.shape

(25982, 19)

In [43]:
values = {"Date": "11/26/13", "Month": "November", "Year": 2013, "Customer ID": 110101010, "Customer Age": 19, 'Age Group': "Youth(<25)",
       'Customer Gender': "M", 'Country': "Canada", 'State': "British Columbia", 'Product Category': "Accesories",
       'Sub Category': "Bike Racks", 'Product': "Hitch Rack - 4-Bike", 'Frame Size': 38.0, 'Order Quantity': 0, 'Unit Cost': 0,
       'Unit Price': 0, 'Cost': 0, 'Revenue': 0, 'Profit': 0}

replaced_df = df.fillna(values)
replaced_df.shape

(113037, 19)

## Replace Categorical Data with Number Data

In [45]:
# MANUAL
categories = ['M', 'F']
values = [1, 2]

df['Customer Gender'].replace(to_replace=categories, value=values, inplace=True)
df.head

<bound method NDFrame.head of             Date     Month    Year  Customer ID  Customer Age       Age Group  \
0       11/26/13  November  2013.0      11019.0           NaN     Youth (<25)
1       11/26/15  November  2015.0      11019.0           NaN     Youth (<25)
2        3/23/14     March  2014.0      11039.0          49.0  Adults (35-64)
3        3/23/16     March  2016.0      11039.0          49.0  Adults (35-64)
4        5/15/14       May  2014.0      11046.0          47.0  Adults (35-64)
...          ...       ...     ...          ...           ...             ...
113032    4/2/14     April  2014.0      29462.0          18.0     Youth (<25)
113033    4/2/16     April  2016.0      29462.0          18.0     Youth (<25)
113034    3/4/14     March  2014.0      29472.0          37.0  Adults (35-64)
113035    3/4/16     March  2016.0      29472.0          37.0  Adults (35-64)
113036     Total       NaN     NaN          NaN           NaN             NaN

        Customer Gender    Country             State Product Category  \
0                   1.0     Canada  British Columbia      Accessories
1                   1.0     Canada  British Columbia      Accessories
2                   1.0        NaN   New South Wales      Accessories
3                   1.0        NaN   New South Wales      Accessories
4                   2.0  Australia   New South Wales      Accessories
...                 ...        ...               ...              ...
113032              1.0  Australia        Queensland         Clothing
113033              1.0  Australia        Queensland         Clothing
113034              2.0     France     Seine (Paris)         Clothing
113035              2.0     France     Seine (Paris)         Clothing
113036              NaN        NaN               NaN              NaN

       Sub Category              Product  Frame Size  Order Quantity  \
0        Bike Racks  Hitch Rack - 4-Bike         NaN             8.0
1        Bike Racks  Hitch Rack - 4-Bike         NaN             8.0
2        Bike Racks  Hitch Rack - 4-Bike         NaN            23.0
3        Bike Racks  Hitch Rack - 4-Bike         NaN            20.0
4        Bike Racks  Hitch Rack - 4-Bike         NaN             4.0
...             ...                  ...         ...             ...
113032        Vests      Classic Vest, M         NaN            22.0
113033        Vests      Classic Vest, M         NaN            22.0
113034        Vests      Classic Vest, L         NaN            24.0
113035        Vests      Classic Vest, L         NaN            23.0
113036          NaN                  NaN         NaN             NaN

         Unit Cost  Unit Price    Cost   Revenue  Profit
0        45.000000       120.0   360.0       950   590.0
1        45.000000       120.0   360.0       950   590.0
2        45.000000       120.0  1035.0      2401  1366.0
3        45.000000       120.0   900.0      2088  1188.0
4        45.000000       120.0   180.0       418   238.0
...            ...         ...     ...       ...     ...
113032   24.000000        64.0   528.0      1183   655.0
113033   24.000000        64.0   528.0      1183   655.0
113034   24.000000        64.0   576.0      1260   684.0
113035   24.000000        64.0   552.0      1207   655.0
113036  267.296366         NaN     NaN  85271008     NaN

[113037 rows x 19 columns]>

In [10]:
df.Country.unique()

array(['Canada', nan, 'Australia', 'United States', 'Germany', 'France',
       'United Kingdom'], dtype=object)

In [15]:
unique_countries = len(df.Country.unique())

In [18]:
list(range(unique_countries))

[0, 1, 2, 3, 4, 5, 6]

In [20]:
# AUTO
categories = df.Country.unique()  # ['Canada', 'nan', 'Australia', 'United States', 'Germany', 'France', 'United Kingdom']
values = range(len(df.Country.unique()))  # [0, 1, 2, 3, 4, 5, 6]

df['Country'].replace(to_replace=categories, value=values, inplace=True)
df.head

<bound method NDFrame.head of             Date     Month    Year  Customer ID  Customer Age       Age Group  \
0       11/26/13  November  2013.0      11019.0           NaN     Youth (<25)
1       11/26/15  November  2015.0      11019.0           NaN     Youth (<25)
2        3/23/14     March  2014.0      11039.0          49.0  Adults (35-64)
3        3/23/16     March  2016.0      11039.0          49.0  Adults (35-64)
4        5/15/14       May  2014.0      11046.0          47.0  Adults (35-64)
...          ...       ...     ...          ...           ...             ...
113032    4/2/14     April  2014.0      29462.0          18.0     Youth (<25)
113033    4/2/16     April  2016.0      29462.0          18.0     Youth (<25)
113034    3/4/14     March  2014.0      29472.0          37.0  Adults (35-64)
113035    3/4/16     March  2016.0      29472.0          37.0  Adults (35-64)
113036     Total       NaN     NaN          NaN           NaN             NaN

       Customer Gender  Country             State Product Category  \
0                    M        0  British Columbia      Accessories
1                    M        0  British Columbia      Accessories
2                    M        1   New South Wales      Accessories
3                    M        1   New South Wales      Accessories
4                    F        2   New South Wales      Accessories
...                ...      ...               ...              ...
113032               M        2        Queensland         Clothing
113033               M        2        Queensland         Clothing
113034               F        5     Seine (Paris)         Clothing
113035               F        5     Seine (Paris)         Clothing
113036             NaN        1               NaN              NaN

       Sub Category              Product  Frame Size  Order Quantity  \
0        Bike Racks  Hitch Rack - 4-Bike         NaN             8.0
1        Bike Racks  Hitch Rack - 4-Bike         NaN             8.0
2        Bike Racks  Hitch Rack - 4-Bike         NaN            23.0
3        Bike Racks  Hitch Rack - 4-Bike         NaN            20.0
4        Bike Racks  Hitch Rack - 4-Bike         NaN             4.0
...             ...                  ...         ...             ...
113032        Vests      Classic Vest, M         NaN            22.0
113033        Vests      Classic Vest, M         NaN            22.0
113034        Vests      Classic Vest, L         NaN            24.0
113035        Vests      Classic Vest, L         NaN            23.0
113036          NaN                  NaN         NaN             NaN

         Unit Cost  Unit Price    Cost   Revenue  Profit
0        45.000000       120.0   360.0       950   590.0
1        45.000000       120.0   360.0       950   590.0
2        45.000000       120.0  1035.0      2401  1366.0
3        45.000000       120.0   900.0      2088  1188.0
4        45.000000       120.0   180.0       418   238.0
...            ...         ...     ...       ...     ...
113032   24.000000        64.0   528.0      1183   655.0
113033   24.000000        64.0   528.0      1183   655.0
113034   24.000000        64.0   576.0      1260   684.0
113035   24.000000        64.0   552.0      1207   655.0
113036  267.296366         NaN     NaN  85271008     NaN

[113037 rows x 19 columns]>

## Basic Staticsic Analytics

In [60]:
df.Profit.mean()

285.0516649562971

In [61]:
df.Profit.min()

-30.0

In [62]:
df.Profit.max()

15096.0

In [63]:
df.Profit.sum()

32221100.0

In [64]:
df.Profit.std()

453.88744305571424

## Basic Data Manipulations

In [65]:
df.columns

Index(['Date', 'Month', 'Year', 'Customer ID', 'Customer Age', 'Age Group',
       'Customer Gender', 'Country', 'State', 'Product Category',
       'Sub Category', 'Product', 'Frame Size', 'Order Quantity', 'Unit Cost',
       'Unit Price', 'Cost', 'Revenue', 'Profit'],
      dtype='object')

In [68]:
df["Product Category"].unique()

array(['Accessories', 'Clothing', 'Bikes', nan], dtype=object)

### Count the profit per category!

In [82]:
df.drop(columns=['Frame Size']).groupby(['Product Category']).sum()

,Year,Customer ID,Customer Age,Customer Gender,Country,Order Quantity,Unit Cost,Unit Price,Cost,Revenue,Profit
Product Category,,,,,,,,,,,
Accessories,141261750.0,1.353679e+09,2530188.0,103964.0,490840,1054162.0,443530.0,1185400.0,6255615.0,15117992,8862377.0
Bikes,52323571.0,4.990375e+08,918418.0,38834.0,181874,36411.0,29400230.0,49395368.0,41262858.0,61782134,20519276.0
Clothing,34114594.0,3.207251e+08,611520.0,24962.0,118538,254743.0,370352.0,617580.0,5531435.0,8370882,2839447.0

### Is there more males/females in each age category

In [89]:
df.groupby(["Age Group", "Customer Gender"]).count()["Revenue"]

Age Group             Customer Gender
Adults (35-64)        1.0                28324
                      2.0                27500
Seniors (64+)         1.0                  396
                      2.0                  334
Young Adults (25-34)  1.0                19930
                      2.0                18724
Youth (<25)           1.0                 9662
                      2.0                 8166
Name: Revenue, dtype: int64