# Week 5 Demo

## Data Import

In [1]:
# IMPORT PANDAS LIBRARY
import pandas as pd

In [2]:
# READ THE CSV FILE
df = pd.read_csv("data.csv")

In [3]:
# PRINT THE TOP FIVE DATA
df.head()

,Date,Month,Year,Customer ID,Customer Age,Age Group,Customer Gender,Country,State,Product Category,Sub Category,Product,Frame Size,Order Quantity,Unit Cost,Unit Price,Cost,Revenue,Profit
0,11/26/13,November,2013.0,11019.0,NaN,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,8.0,45.0,120.0,360.0,950,590.0
1,11/26/15,November,2015.0,11019.0,NaN,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,8.0,45.0,120.0,360.0,950,590.0
2,3/23/14,March,2014.0,11039.0,49.0,Adults (35-64),M,NaN,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,23.0,45.0,120.0,1035.0,2401,1366.0
3,3/23/16,March,2016.0,11039.0,49.0,Adults (35-64),M,NaN,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,20.0,45.0,120.0,900.0,2088,1188.0
4,5/15/14,May,2014.0,11046.0,47.0,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,4.0,45.0,120.0,180.0,418,238.0

In [4]:
# DISPLAY THE NUMBER OF (ROWS, COLUMNS)
df.shape

(113037, 19)

## Missing Data Handling

In [5]:
# DROP NULL-VALUED ROWS FROM THE DATAFRAME
dropped_df = df.dropna()

In [6]:
dropped_df.shape

(25982, 19)

In [7]:
dropped_df.head()

,Date,Month,Year,Customer ID,Customer Age,Age Group,Customer Gender,Country,State,Product Category,Sub Category,Product,Frame Size,Order Quantity,Unit Cost,Unit Price,Cost,Revenue,Profit
49304,1/28/13,January,2013.0,11000.0,31.0,Young Adults (25-34),M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-100 Silver, 38",38.0,1.0,1912.0,3400.0,1912.0,2856,944.0
49305,1/28/15,January,2015.0,11000.0,31.0,Young Adults (25-34),M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-100 Silver, 38",38.0,1.0,1912.0,3400.0,1912.0,2856,944.0
49306,7/22/13,July,2013.0,11000.0,31.0,Young Adults (25-34),M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-100 Silver, 38",38.0,1.0,1912.0,3400.0,1912.0,2856,944.0
49307,7/22/15,July,2015.0,11000.0,31.0,Young Adults (25-34),M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-100 Silver, 38",38.0,2.0,1912.0,3400.0,3824.0,5712,1888.0
49308,12/25/13,December,2013.0,11000.0,31.0,Young Adults (25-34),M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-100 Silver, 38",38.0,1.0,1912.0,3400.0,1912.0,2856,944.0

In [8]:
# REPLACE NULL-VALUED ROWS FROM THE DATAFRAME
values = {"Date": "11/26/13", "Month": "November", "Year": 2013, "Customer ID": 110101010, "Customer Age": 19, 'Age Group': "Youth(<25)",
       'Customer Gender': "M", 'Country': "XYZ", 'State': "British Columbia", 'Product Category': "Accesories",
       'Sub Category': "Bike Racks", 'Product': "Hitch Rack - 4-Bike", 'Frame Size': 38.0, 'Order Quantity': 0, 'Unit Cost': 0,
       'Unit Price': 0, 'Cost': 0, 'Revenue': 0, 'Profit': 0}

replaced_df = df.fillna(values)

In [9]:
replaced_df.shape

(113037, 19)

In [10]:
replaced_df.head()

,Date,Month,Year,Customer ID,Customer Age,Age Group,Customer Gender,Country,State,Product Category,Sub Category,Product,Frame Size,Order Quantity,Unit Cost,Unit Price,Cost,Revenue,Profit
0,11/26/13,November,2013.0,11019.0,19.0,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,38.0,8.0,45.0,120.0,360.0,950,590.0
1,11/26/15,November,2015.0,11019.0,19.0,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,38.0,8.0,45.0,120.0,360.0,950,590.0
2,3/23/14,March,2014.0,11039.0,49.0,Adults (35-64),M,XYZ,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,38.0,23.0,45.0,120.0,1035.0,2401,1366.0
3,3/23/16,March,2016.0,11039.0,49.0,Adults (35-64),M,XYZ,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,38.0,20.0,45.0,120.0,900.0,2088,1188.0
4,5/15/14,May,2014.0,11046.0,47.0,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,38.0,4.0,45.0,120.0,180.0,418,238.0

## Replace Categorical Data with Number Data

In [16]:
# MANUAL
categories = ['M', 'F']
values = [1, 2]

# dropped_df = dropped_df['Customer Gender'].replace(to_replace=categories, value=values, inplace=False)

# INPLACE REPLACE
# inplace=True -> replace without creating a new variable (update existing variable)
# inplace=False -> replace and save to a new variable (leave the original variable untouched)
# dropped_df['Customer Gender'].replace(to_replace=categories, value=values, inplace=True)


dropped_df

49304     1
49305     1
49306     1
49307     1
49308     1
         ..
112067    2
112068    2
112069    2
112070    2
112071    2
Name: Customer Gender, Length: 25982, dtype: int64

In [ ]:
# GET UNIQUE VALUES FROM A COLUMN
df.Country.unique()

In [ ]:
# GET THE NUMBER OF UNIQUE VALUES FROM ABOVE
unique_countries = len(df.Country.unique())

In [ ]:
# REPLACE VALUES DYNAMICALLY
categories = df.Country.unique()  # ['Canada', 'nan', 'Australia', 'United States', 'Germany', 'France', 'United Kingdom']
values = range(len(df.Country.unique()))  # [0, 1, 2, 3, 4, 5, 6]
# len(df.Country.unique()) -> returns 7
# range(len(df.Country.unique())) -> returns the range of 7 elements [0, 1, 2, 3, 4, 5, 6]

df['Country'].replace(to_replace=categories, value=values, inplace=True)
df.head

## Basic Statistic Analytics

In [ ]:
dropped_df.Profit.mean()

In [ ]:
dropped_df.Revenue.min()

In [ ]:
dropped_df.Revenue.max()

In [ ]:
dropped_df.Revenue.median()

In [ ]:
dropped_df['Unit Price'].sum()

In [ ]:
dropped_df.Profit.std()

## Basic Data Manipulations

In [ ]:
dropped_df

In [ ]:
df.columns

In [ ]:
df["Product Category"].unique()

### Count the profit per category!

In [ ]:
df.drop(columns=['Frame Size']).groupby(['Product Category']).sum()

### Which clientele brings more revenue? Males/Females?

In [ ]:
df.groupby(["Age Group", "Customer Gender"]).count()["Revenue"]

### How much profit monthly do we get?

In [ ]:
df.groupby(["Month","Year"]).sum().Profit.max()